.navbar {
    padding: 0;
    background-color: #f1faee80 ;
    font-family: 'Barlow', sans-serif;
}

/* Index */
.offcanvas-header {
    padding-bottom: 0;
}

/* Main page */

body {
    background-color: #457B9D;;
}


/* Welcome + text */

.welcomeDesc {
    background-color: #22223b;
    color: white;
}

.welcomeDesc .display-1  {
    font-size: 6rem;
}

.welcomeDesc p  {
    font-size: 1rem;
}

@media screen and (min-width: 992px) {
    .welcomeDesc {
        background-color: white;
        color: #22223b;
    }
}

figure.text-end {
    color: white;
}

figure .blockquote {
    font-size: 2rem;
}

figure .blockquote-footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}