.navbar {
    padding: 0;
    background-color: #f1faee80 ;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #2F243A;
    color: white;
}

.card-text {
    color: #2F243A
}

.allcontent {
    height: 100vh;
}