.navbar {
    padding: 0;
    background-color: #F1FAEE ;
}

.offcanvas-header {
    padding-bottom: 0;
}
body {
    background-color: #A8DADC;
}

@media screen and (min-width: 2000px) 
 {img {
    height: 1000px;
}
 }