.navbar {
    padding: 0;
    background-color: #F1FAEE ;
}

/* Index */
.offcanvas-header {
    padding-bottom: 0;
}
body {
    background-color: #A8DADC;
}

/* Width for larger screens */
@media screen and (min-width: 2000px) 
 {img {
    height: 1000px;
}
 }
 /* Title */


.about-title {
    background-color: rgba(255, 255, 255, 0.457);
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 

}
.about-title h1 {
    font-size: 5rem;
    width: max-content;
    height: max-content;

}