.navbar {
    padding: 0;
    background-color: #F1FAEE;
}

/* Index */
.offcanvas-header {
    padding-bottom: 0;
}

body {
    background-color: #457B9D;
}

.all-items {
    font-family: 'Barlow', sans-serif;
    padding: 0;

}

/* Title */

.container-fluid.about {
    background-color: #A8DADC;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container-fluid.about h1 {
    padding: 10px 0 10px;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 5rem;
    text-align: center;
    border-color: white;
    border-top: solid;
    border-bottom: solid;
}

/* Description */

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.description h2 {
    color: white;
    width: fit-content;
    padding: 10px;
    border: white dotted;
}

.description p {
    color: #A8DADC;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

/* About me div*/




.about-me {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me h2 {
    color: white;
    text-align: center;
    border: white dotted;
    padding: 10px;
}

/* Div that contains the two circles */

.circles {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-sm.socials {
    color: #457B9D;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    aspect-ratio: 1 / 1;
}

.container-sm.pictures {
    color: #457B9D;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    aspect-ratio: 1 / 1;
}


.pictures p {
    font-size: 1.6vw;
    margin: 0;
    text-align: center;
    max-height: 50%;
    max-width: 50%;
}

.circles img {
    max-height: 50%;
    max-width: 50%;
}



/* Socials list */

.links h3 {
    font-size: 3vw;
}

.links ul {
    font-size: 2vw;
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}


@media screen and (max-width: 1525px) {

    .circles {
        flex-direction: column;
    }

    .pictures p {
        font-size: 3vw;
    }

    .links h3 {
        font-size: 6.5vw;

    }

    .links ul {
        font-size: 4vw;
    }
}






/* Media queries */

/* @media screen and (max-width: 2375px) {
    .container-fluid.socials {
        height: 500px;
        width: 500px;
    }

    .container-fluid.pictures {
        height: 500px;
        width: 500px;
    }

    .pictures p {
        font-size: 28px;
    }
@media screen and (max-width: 980px) {


    .pictures p {
        font-size: 1px;
    }


}

@media screen and (max-width: 390px) {
    .pictures p {
        font-size: 10px;
    }



    h3 {
        font-size: 22.5px;
    }
    ul {
        font-size: 12.5px;
    }
}    */

/* .circles img {
        /* height: 500px; */
    



    /* .circles img {
        /* height: 250px;
    } */

/* .circles img {
        width: 50px;
        height: auto;
    } */