.navbar {
    padding: 0;
    background-color: #f1faee80;
    font-family: 'Barlow', sans-serif;
}

.grid-content {
    height: 100vh;
}

body {
    background-color: #FCF7F8;
}

article p {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

.WC {
    background-color: #275DAD;
    width: 100%
}
footer li, footer a, footer h2 {
    color: #FCF7F8;
}

footer a:hover {
    color: #CED3DC;
}